<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
    </configSections>
    <aws region="us-east-1" endpointDefinition="endpoints.json">
    </aws>
    <appSettings>
        <add key="AWSAccessKey" value="foo"/>
        <add key="AWSSecretKey" value="foo"/>
    </appSettings>
</configuration>
